/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/

body {
   /* background-image: url('../img/background1.jpg'); */
   background-image: url('../img/background/bgnew.jpg');
   background-position: 0 0;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   font-family: "Poppins", sans-serif;
   font-weight: 300;
}

@media (max-width:850px) {
   body {
      background: linear-gradient(180.3deg, rgb(151, 181, 217) 17.2%, rgb(235, 183, 184) 57.3%)fixed;
   }
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   
}

[class*="__container"] {
   max-width: 1000px;
   margin: 20px auto;
   padding: 0 15px;

}

/* .weather-page{
   background-color: rgba(255, 255, 255, 0.5);
   max-width: 1000px;
   margin: 20px auto;
   padding: 0 15px;
   border-radius: 10px;
   border: 1px solid grey;
} */
.header {
   width: 100%;
}

.header__container {
   display: flex;
   flex-direction: column;
   min-height: 150px;
}

h1 {
   text-align: right;
   color: #8AA9C6;
   font-size: 36px;
   margin: 20px 0;
   font-weight: bold;
}

.location-form {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.location-columns {
   display: flex;
}

.current-form {
   /* flex: 0 0 80px; */
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-left: 30px;
   font-size: 18px;
}

.search-form {
   /* flex: 0 0 120px; */
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 5px;
   font-size: 18px;
}

.search-form_search {
   padding-left: 15px;
   background-color: rgba(255, 255, 255, 0);
   border-radius: 5px;
}

.fa_icon {
   height: 100%;
   display: flex;
   justify-content: center;
}

.search_icon {
   max-width: 58px;
   padding: 0 20px;
   color: rgb(54, 54, 54);
   background-color: #FEC635;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.search_icon:hover {
   font-size: 22px;
}


.button-current {
   padding: 16px 25px;
   border-radius: 5px;
   background-color: #FEC635;
   color: rgb(54, 54, 54);
   transition: all 0.3s ease 0s;
}

.button-current:hover {
   background-color: #f4b820;
   color: rgb(54, 54, 54);
}

/* ---------------------------Main--------------------------------- */
.city__content {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 48px;
   font-weight: 600;
   margin: 10px 0 20px;
}

.geo__icon {
   margin-right: 15px;
}

.current-date_container {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 20px;
}

.current-date {
   margin-right: 40px;
}

.current-temperature_container {

   color: white;
   font-size: 30px;
   font-weight: 600;
   text-align: center;
}

.current-weather_icon img {
   width: 100px;
}

.temperature__content {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.current__temperature_day {
   text-align: center;
   color: white;
   font-size: 80px;
   font-weight: 600;
   padding-left: 40px;
   float: left;
   line-height: 90px;
   height: 90px;

}

.units a {
   padding-left: 10px;
   font-size: 34px;
   font-weight: bold;
   text-decoration: none;
   color: white;
   vertical-align: top;
}

.temperature-description {
   text-align: center;
   color: white;
   font-size: 30px;
   font-weight: 400;
   margin-bottom: 20px;
   font-style: italic;
}

/* -------------------Cards-------------------------- */
.weather_container {}

.weather_container__row {}

.weather_container__columns {
   display: flex;

   justify-content: space-between;
   /* ---сколько процентов по ширине занимает каждый item--- */
   flex: 0 1 20%;
}


.card {
   display: flex;
   color: white;
   background-color: rgba(0, 0, 0, .4);
   border-radius: 10px;
   padding: 10px;
}


.card-temperature {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: center;
   padding-bottom: 10px;
}

#day {
   font-size: 48px;
   font-weight: 600;
   padding-right: 5px;
}

#night {
   font-size: 32px;
   font-weight: 400;
}

.card-weather__pic img {
   height: 60px;
   padding-right: 15px;
}

.card-temperature__day {}

.card-temperature__night {}

.card-date {
   font-size: 18px;
   text-align: center;
   font-weight: 300;
   opacity: 80%;
   padding-bottom: 10px;
}

.card-description {
   font-size: 24px;
   text-align: center;
   font-weight: 500;
   padding-bottom: 10px;
}

.card-wind {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-bottom: 10px;
}

.card-humidity {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.card-wind__pic,
.card-humidity__pic {

   min-width: 50px;

}

.card-wind__pic img,
.card-humidity__pic img {
   height: 20px;
   display: block;
   margin: 0 auto;
}

.card-wind__text,
.card-humidity__text {
   font-size: 16px;
   font-weight: 400;
   font-style: italic;
   text-align: left;
}

/* --------------------------------Footer---------------------------------- */
.footer {
   font-size: 16px;
   font-weight: 400;
   font-style: italic;
   color: white;
   text-align: center;
   margin: 10px auto;
}

.source {
   color: white;

}

.source:hover {
   color: white;
   text-decoration: underline;
}

.footer_content {
   background-color: rgba(0, 0, 0, .2);
   border-radius: 3px;
   padding: 5px;
   margin-top: 30px;
}

.footer_content a {
   text-decoration: none;
   color: white;
   font-weight: 600;
}

/* -----PC------ */
@media (max-width: 1149.98px) {
   [class*="__container"] {
      max-width: 970px;
   }

   .card-weather__pic img {
      height: 40px;
      padding-right: 10px;
   }

   #day {
      font-size: 36px;
   }

   #night {
      font-size: 20px;
   }

   .card-date {
      font-size: 14px;
   }

   .card-description {
      font-size: 18px;
   }

   .card-wind__pic,
   .card-humidity__pic {
      min-width: 40px;
   }

   .card-wind__pic img,
   .card-humidity__pic img {
      height: 16px;

   }

   .card-wind__text,
   .card-humidity__text {
      font-size: 12px;
   }
}

/* -------Планшет--------- */
@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }

   h1 {
      font-size: 30px;
   }

   .button-current {
      padding: 12px 18px;
      font-size: 16px;
   }

   .search-form {
      font-size: 16px;
   }

   .city__content {
      font-size: 42px;
   }

   .current-date_container {
      font-size: 26px;
   }

   .temperature__content {
      margin-bottom: 5px;
   }

   .current__temperature_day {
      font-size: 72px;
      line-height: 80px;
      height: 80px;
   }

   .units a {
      font-size: 30px;
   }

   .current-weather_icon img {
      width: 80px;
   }

   .temperature-description {
      font-size: 36px;
      margin-bottom: 20px;
   }

   .card-weather__pic img {
      height: 30px;
      padding-right: 5px;
   }

   #day {
      font-size: 36px;

   }

   #night {
      font-size: 20px;
   }

   .card-date {
      font-size: 14px;
   }

   .card-description {
      font-size: 18px;
   }

   .card-wind__pic,
   .card-humidity__pic {

      min-width: 30px;

   }

   .card-wind__pic img,
   .card-humidity__pic img {
      height: 16px;

   }

   .card-wind__text,
   .card-humidity__text {
      font-size: 12px;
   }

   .footer {

      font-size: 12px;
   }
}

/* -------Mobile--------- */
@media (max-width: 749.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

/* ------SMALL-Mobile--------- */
@media (max-width: 479.98px) {
   [class*="__container"] {
      max-width: none;
   }
}